* {
    margin: 0;
    font-family: 'Poppins','sans-serif';
    padding: 0;
    box-sizing: border-box;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: salmon;
    background: transparent;
}
.logo {
    font-size: 25px;
    color: #031540;
    text-decoration: none;
    font-weight: 700;
}
.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover,
.navbar a:active {
    color: #00abf0;
}
.home{
    height: 100vh;
    background: linear-gradient(-90deg,#031540 65%,#fff 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
.home-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background: #031540;
    border-radius: 50%;
    border: 25px solid white;
    outline: 25px solid #031540;
}
.home-content {
    max-width: 600px;
    color: white;
    text-align: right;
}
.home-content h3 {
     font-size: 35px;
     color: tra;
     -webkit-text-stroke: .5px #fff;
}
.home-content h1 {
    font-size: 45px;
    line-height: 1.2;
}
.home-content p {
    font-size: 15px;
    margin-top: 20px;
}
.home-sci {
    margin: 25px 0 40px;
} 
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    margin-left: 12px;
    transition: .5s;
}
.home-sci a:hover {
    background: #00abf0;
    color: #fff;
    border-color: #00abf0;
    box-shadow: 0 0 10px #00abf0;
}
.btn {
    padding: 12px 35px;
    background: #00abf0;
    border-radius: 40px;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px #00abf0;
    transition: .5s;
}
.btn:hover{

}
.img {
    position: sticky;
    max-width: 280px;
    bottom: 22px;
    border-radius: 10%;
    object-fit: scale-down;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  .fa:hover {
    opacity: 0.7;
}
.
.fa-linkedin {
    background: #007bb5;
    color: white;
  }

.fa-instagram {
    background: #125688;
    color: white;
  }